/* input {
    padding: 3px; */
    /* box-shadow: 3px 3px 5px grey; */
    /* font-size: 14px;
    font-weight: 600;
    width: 300px;
    border: 0px;
    background: transparent;
} */

/* form {
    flex: 0 0 400px;
} */