.all-spots {
    /* margin: 0.5em 0px 40px; */
    /* padding: 0px 0.5em; */
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}

.preview-image {
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 1px solid #DFDFDF; */
    border-radius: 10px;
    height: 13em;
    margin-bottom: 1em;
    width: 15em;
    padding: 25px;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: fill;
    display: inline-block;
    position: relative;
    overflow:hidden; */
}

.spots-details {
    margin-bottom: 3em;
    
}

.spots-details-top {
    display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
}

.place {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

