/* .review-button {
    border: none !important;
    color: black ;
    font-size: 1em;
} */

/* .write-rev-button {
    font-family: helvetica;
  color: #FFFFFF ;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border: 0px;
  border-radius: 10px;
  background: #EE244C !important;
  background: linear-gradient(to top, #EE244C, #CF297C) !important;
}

.write-rev-button:hover {
    color: #FFFFFF ;
    background: #CF0A38;
    cursor: pointer;
} */