.your-reviews {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
}

.yourreviews {
    margin-top: 0px;
}
/* .manage-review-holder {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
} */


.manage-button-holder> button {
    margin-bottom: 1rem;
    /* top-margin: 1rem; */
}

.manage-buttons> button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.manage-spotname {
    font-weight: bold;
    /* max-width: 50%; */
}

.reviewtext-holder {
    margin-top: 0.5rem;
    width: 100%;
    overflow-wrap: break-word;
}

.review-text {
    width: 20%;
    overflow-wrap: break-word;
}

.bottom-button {
    margin-bottom: 2rem;
}

.spots-details2 {
    margin-bottom: 1em;
    max-width: 18rem;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-left: 0pc;
}

.delrev-button {
    margin-top: 1rem;
}