.wholething {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-right: 0px;
    padding-bottom: 5em;
} 

.img-container {
    margin: 0px;
    margin-bottom: 1rem;
    /* padding: 0px 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 20px;
    width: 95%; 
    height: 25em;
    /* border: 1px solid red; */
    overflow: hidden;
    min-width: 100%;
    max-width: 70rem;
}

.navbar {
    margin-top: 0px;
    border-top: white;
    padding-left: 0px;
}

.img {
    object-fit: fill;
    width: 100%;
    border-radius: 20px;
}

.descr {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
}
.descr2 {
    padding-top: 1em;
}

.name {
    font-size: 1.7em;
}

.infobar {
    font-size: 1em;
    width: 25em;
    display: flex;
    justify-content: first baseline;
    margin-bottom: 1em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%
}

.write-rev-button-holder> button {
    background: white ;
    color: black ;
    border: black 1px solid ;
    font-size: 1em ;
    background: white;
    border-radius: 5% / 5;

    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    width: 25%;
    /* padding-left: 30%;
    padding-right: 30%;*/
    text-align: center; 
}

.write-rev-button-holder> button:hover {
    color: black;
    background: lightgray !important;
}

/* .review-button {
    all: revert !important;
    background: white !important;
    color: black !important;
    border: white 0px solid !important;
    font-size: 1em !important;
    text-decoration:underline !important;
} */

.location {
    text-decoration:underline ;
}

.location:hover {
    cursor: not-allowed;
}

/* body {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
.another-div {
display: flex;
/* overflow: auto; */

}
.floaty-box-holder {
    /* position: -webkit-sticky; */
    position: sticky !important;
    /* z-index: 1 !important; */
    top: 0;
    /* display: inline-block !important; */
    align-self: flex-start;
}

.floaty-box {
    margin-top: 2rem;
    border: solid lightgray 1px;
    height: 20em;
    width: 15rem;
    padding: 1.5em;
    margin-left: 1rem;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}

.floaty-box-price {
    font-size: 1.2rem;
}

.floaty-price {
    font-weight: bold;
}

.infos {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;
    padding-bottom: 1rem;
}

.leftbox {
    width: 45rem;
}

.topline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.totalPrice {
    border-top: gray solid 1px;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
}

.reserve-button-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cant-reserve:hover {
    cursor: not-allowed;
}

/* .write-rev-button-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
} */

.reviews-box {
    display:flex;
    flex-direction: column;
}

.hostedby-text {
    margin-bottom: 0.5rem;
}

.subhostedby-text {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.extra-infobox {
    border-top: 1px lightgray solid;
    /* border-bottom: 1px lightgray solid; */
    /* padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em; */
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
}

.fa-shield-cat {
    font-size: 2rem;
    margin-right: 1rem;
}

.fa-paw {
    font-size: 2rem;
    margin-right: 1rem;
}

.fa-calendar {
    font-size: 2rem;
    margin-right: 1rem;
}

.extra-deets {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more-deets {
    display: flex;
    flex-direction: column;
}

.bold-deet {
    margin-bottom: 0px;
}

.subdeet {
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
    margin-bottom: 1rem;
}

.aircover {
    margin-top: 2rem;
    width: 8rem;
}

.subdeet2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-right: 1rem; */
}

/* .bottom-subdeet {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
} */