.your-spots {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}

.create-spot-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 35%;
    padding-right: 35%;
    /* font-family: helvetica;
    color: #FFFFFF ;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
    background: #EE244C !important;
    background: linear-gradient(to top, #EE244C, #CF297C) !important; */
}