.your-spots {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
}

/* .manange-listings-holder {
    margin-top: 5rem;
} */

.yourspots {
    margin-top: 0px;
}

.manage-button-holder> button {
    margin-bottom: 1rem;
    /* top-margin: 1rem; */
}

.manage-buttons> button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.manage-spotname {
    font-weight: bold;
}

.reviewtext-holder {
    margin-top: 0.5rem;
    width: 100%;
}

.review-text {
    width: 20%;
}

.bottom-button {
    margin-bottom: 2rem;
}

/* .spots-details2 {
    margin-bottom: 0px;
    padding-bottom: 2em;
    max-width: 18rem !important;
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column;
    margin-left: 0pc; */
/* } */ 