/* TODO Add site wide styles */
html, input, textarea, select, a {
    font-family: 'helvetica';
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    color: rgb(31, 31, 31)
  }

/* html {
  margin-top: 5rem;
} */

ul {
  list-style: none;
}


button {
  font-family: helvetica;
  color: #FFFFFF ;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border: 0px;
  border-radius: 10px;
  background: #EE244C;
  background: linear-gradient(to right, #EE244C, #CF297C);
  height: 2.5rem;
}

button:hover {
  color: #FFFFFF ;
  background: #CF0A38;
  cursor: pointer;
}

main {
  bottom: 0;
  display: flex;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}