/* TODO Add site wide styles */
html, body, input, textarea, button, select, a {
    font-family: 'sans-serif';
    font-size: 16px;
  }

main {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}