.hidden {
    display: none
}

.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    border: red 1px solid;
    /* align-items: stretch; */
    justify-content: space-between;
}

.fa-solid.fa-box {
    font-size: 1.5em;
    padding: 5px;
}

.fa-solid.fa-bars {
    font-size: 0.5em;
}

.home-button {
    background: #EE244C;
    background: linear-gradient(to bottom, #EE244C 31%, #CF297C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.profile-button {
    align-items: center;
    border: solid lightgray 1px !important; 
    background: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 12px;
    border-radius: 30% / 50%;
    text-align: start;
    font-size: 2em;
    color: gray !important;
    font-stretch: 100%;
    /* position: relative;
    vertical-align: middle; */
    /* justify-content:flex-end; */
}

.profile-button:hover {
    
}

.profile-button-div {
    padding-right: 2em;
}

.fas.fa-user-circle {
    padding-left: 15px;
    margin: 0;
}
