.hidden {
    display: none
}

.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    /* border: red 1px solid; */
    /* align-items: stretch; */
    justify-content: space-between;
    border-top: lightgray solid 1px;
    border-bottom: lightgray solid 1px;
    /* padding-top: 0.5em; */
    padding-bottom: 1em;
}

.fa-solid.fa-box {
    font-size: 1.5em;
    padding: 5px;
}

.fa-solid.fa-bars {
    font-size: 0.5em;
}

.home-button {
    background: #EE244C;
    background: linear-gradient(to bottom, #EE244C 31%, #CF297C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.profile-button {
    align-items: center;
    border: solid lightgray 1px !important; 
    background: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 12px;
    border-radius: 30% / 50%;
    text-align: start;
    font-size: 2em;
    color: gray !important;
    font-stretch: 100%;
    /* position: relative;
    vertical-align: middle; */
    justify-content: center;
}

.profile-button:hover {
  box-shadow: 1px 5px 5px lightgray;
}

.profile-button-div {
    padding-right: 2em;
    position: relative;
}

.fas.fa-user-circle {
    padding-left: 15px;
    margin: 0;
}

.profile-dropdown {
    border: lightgray 1px solid;
    /* justify-content: left; */
    padding: 1em;
    width: 10em;
    border-radius: 5%;
    box-shadow: 1px 5px 5px lightgray;
    position: relative;
    /* border: red 1px solid; */
    position: absolute;
    z-index: 99;
    float: right;
    background: white;
    right: 0;
    left: auto;

}

li {
    padding-top: 1em;
}

.modal-dropdown {
    /* border: red 1px solid; */
    position: relative;
}

.link {
    justify-content: flex-start;
    padding-left: 0px;
}

/* .manage {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
} */

.login-button {
    font-weight: bold !important;
}